@import url("https://fonts.googleapis.com/css2?family=Meddon&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body {
  background: linear-gradient(-45deg, #f88379, #f3cfc6, #b6d0e2, #afe1af);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  background: #f7f7f7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 720px;
  height: 850px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #343434;
  color: #1c1c1c;
  padding: 40px 40px 70px;
}

.header {
  display: flex;
  margin-right: auto;
  justify-content: space-between;
  width: 100%;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 50%;
  border: 5px dashed #f1f1f1;
  max-height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-animation: glow 5s ease-in-out infinite alternate;
  -moz-animation: glow 5s ease-in-out infinite alternate;
  animation: glow 5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 5px #f7f7f7, 0 0 15px #b6d0e2;
  }
  50% {
    box-shadow: 0 0 5px #f7f7f7, 0 0 10px #1c1c1c, 0 0 15px #f3cfc6;
  }
  100% {
    box-shadow: 0 0 5px #f7f7f7, 0 0 10px #1c1c1c, 0 0 15px #f88379;
  }
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  padding: 0;
  margin: 20px 10px 0 0;
  font-size: 30px;
  font-family: "Meddon", cursive;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 1px 1px 3px #343434, 1.5px 1.5px 5px #76d7c4;
  cursor: default;
}

.titulo h1:hover {
  transform: scale(1.1);
  transition-duration: 1s;
  text-shadow: 1px 1px 3px #343434, 3px 3px 3px #b6d0e2, 4px 4px 4px #f3cfc6,
    3.5px 3.5px 3.5px #f88379;
}

.titulo h3 {
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  cursor: default;
  letter-spacing: 2px;
}

.titulo h3:hover {
  transform: scale(1.07);
  transition-duration: 0.7s;
}

.projetos {
  background: linear-gradient(-45deg, #f88379, #f3cfc6, #b6d0e2, #afe1af);
  text-align: justify;
  background-size: 400% 400%;
  margin-top: 20px;
  padding: 10px 40px 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.42);
  border-radius: 20px;
  width: 90%;
  max-height: 550px;
  overflow-y: scroll;
  font-family: "Gloria Hallelujah", cursive;
  animation: gradient 12s ease infinite;
}

.projetos-titulo {
  display: block;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 80px;
  cursor: default;
}

.projetos-titulo:hover {
  transform: scale(1.1);
  transition-duration: 0.7s;
}

.projetos-titulo:hover,
.projetos a:hover {
  color: #f7f7f7;
}

.projetos li {
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 4px;
  margin-left: 10px;
}

.projetos a {
  text-decoration: none;
  color: #1c1c1c;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#media:hover,
#temp:hover,
#moedas:hover,
#km:hover,
#ment:hover,
#flix:hover,
#classificacao:hover,
#supertrunfo:hover,
#certificard:hover, 
#calcule-imc:hover,
#bandeiras:hover,
#esquadro:hover,
#flor-piscante:hover,
#bolinha-pulsante:hover,
#paint:hover,
#draw:hover,
#alvo:hover,
#paint2:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  position: relative;
}

.imagem-projeto {
  width: 280px;
  border-radius: 30px;
  display: inline-block;
  opacity: 0.6;
  border: 3px double #343434;
  box-shadow: 5px 5px 10px #1c1c1c;
}

.imagem-projeto:hover {
  opacity: 1;
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.imagem-projeto-certificard {
  width: 270px;
  border-radius: 30px;
  display: inline-block;
  opacity: 0.6;
  border: 3px double #343434;
  box-shadow: 5px 5px 10px #1c1c1c;
}

.imagem-projeto-certificard:hover {
  opacity: 1;
  transform: scale(1.05);
  transition-duration: 0.5s;
}

footer {
  text-decoration: none;
  margin-top: 25px;
}

.icons {
  transform:  translateY(-20%);
  display: inline-flex;
}

#linkedin, #github, #discord, #codepen, #mail {
  color: #1c1c1c;
  padding: 0 30px;
}

#linkedin:hover, #github:hover, #discord:hover, #codepen:hover, #mail:hover {
color: #f88379;
}

.tema {
  color: #f7f7f7;
  width: 170px;
  display: inline-block;
  border-radius: 20px;
  background-color: #1c1c1c;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 20px;
  padding: 0 7px 0 7px;
  cursor: pointer;
  margin-right: 0;
  margin-left: 540px;
  transform: translateY(-185%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(247, 247, 247, 0);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: rgb(28, 28, 28, 0.7);
  border-radius: 100px;
}

.dark {
  background: linear-gradient(-45deg, #6e260e, #722f37, #375b86, #6b87a9);
  background-size: 400% 400%;
  animation: gradientdark 12s ease infinite;
}

@keyframes gradientdark {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .perfil-foto {
  border: 5px dashed #333439;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-animation: glow 5s ease-in-out infinite alternate;
  -moz-animation: glowdark 5s ease-in-out infinite alternate;
  animation: glowdark 5s ease-in-out infinite alternate;
}

@-webkit-keyframes glowdark {
  0% {
    box-shadow: 0 0 5px #f7f7f7, 0 0 15px #6b87a9;
  }
  50% {
    box-shadow: 0 0 5px #f7f7f7, 0 0 10px #375b86, 0 0 15px #722f37;
  }
  100% {
    box-shadow: 0 0 5px #f7f7f7, 0 0 10px #375b86, 0 0 15px #6e260e;
  }
}

.dark .titulo h1 {
  text-shadow: 1px 1px 3px #343434, 2px 2px 5px #6b87a9, 3px 3px 5px #722f37;
}

.dark .titulo h1:hover {
  text-shadow: 1px 1px 3px #343434, 3px 3px 3px #6b87a9, 4px 4px 4px #722f37,
    3.5px 3.5px 3.5px #6e260e;
}

.dark .projetos {
  background: linear-gradient(-45deg, #6e260e, #722f37, #375b86, #6b87a9);
  background-size: 400% 400%;
  animation: gradientdark 12s ease infinite;
}

.dark .projetos a {
  color: #f7f7f7;
}

.dark .imagem-projeto, .dark .imagem-projeto-certificard {
  border: 4px double #f7f7f7;
}

.dark .tema {
  background-color: #f7f7f7;
  color: #1c1c1c;
}

.dark #linkedin, .dark #github, .dark #discord, .dark #codepen, .dark #mail {
  color: #f7f7f7;
  padding: 0 30px;
}

.dark #linkedin:hover, .dark #github:hover, .dark #discord:hover, .dark #codepen:hover, .dark #mail:hover {
color: darkred;
}

.dark::-webkit-scrollbar {
  width: 10px;
}

.dark::-webkit-scrollbar-track {
  background: rgb(28, 28, 28);
}

.dark::-webkit-scrollbar-thumb {
  background: rgb(247, 247, 247, 0.7);
  border-radius: 100px;
}

.dark .projetos::-webkit-scrollbar-thumb {
  background: rgb(247, 247, 247, 0.7);
  border-radius: 100px;
}
